* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #001e4d;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 40px auto 0;
  border-radius: 10px;
  padding: 20px;
  
}

.app h1{
font-size: 25px;
color: #001e4d;
font-weight: 600;
border-bottom: 1px solid #333;
padding-bottom: 30px;
}

.quiz{
padding: 50px 0;
}

.quiz h2{
  font-size: 18px
  color:#001e4d;
  font-weight: 600;
  }

  .btn{
background: #fff;
color: #222;
font-weight: 500;
width: 100%;
border: 1px solid #222;
padding: 10px;
margin: 10px 0;
text-align: left;
border-radius: 4px;
cursor: pointer;
transition: all 0.3s
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 80px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}
#previous-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 80px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    float:left;
}
#explain-btn {
    background: green;
    color: #fff;
    font-weight: 500;
    width: 80px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
#timer { 
   background-color: #e1f5fe;
   width:80px;
   border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 1px;
   position: absolute;
   top: 120px;
   right: 40px; 
 }
.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}
.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
  }
.popup-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  }
